datasets==2.8.0
matplotlib==3.3.4
nltk==3.6.1
numpy==1.22.1
pyenchant==3.2.2
regex==2021.4.4
rouge-score==0.1.2
bert-score==0.3.12
spacy==3.5.0
tokenizers==0.13.2
torch==2.0.1+cu117
torchtext==0.12.0
torchdata==0.3.0
tqdm==4.64.1
truecase==0.0.14
scipy==1.6.2
scikit-learn==0.24.1
hnswlib==0.7.0
language-tool-python==2.7.1
